# **import required library for performing the operation regardin this sale project**

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

# **Inserting the data that is provided by the sources and quick seeing for the understanding purpose **

In [73]:
import pandas as pd
import os

# Read each CSV file individually
cloud_warehouse_data = pd.read_csv("/content/Cloud Warehouse Compersion Chart.csv")
europe_sales_data = pd.read_csv("/content/Europe Sales Records.csv")
expense_iigf_data = pd.read_csv("/content/Expense IIGF.csv")

# Check if the file exists and provide the full path if needed
file_path = "/content/International sale Report.csv"  # Replace with the correct path if needed
if os.path.exists(file_path):
    international_sales_data = pd.read_csv(file_path)
else:
    print(f"Error: File not found at {file_path}")
    # You might need to download or upload the file to the correct location

# Check if the file exists before attempting to read it
may_2022_file_path = "/content/May-2022.csv"
if os.path.exists(may_2022_file_path):
    may_2022_data = pd.read_csv(may_2022_file_path)
else:
    print(f"Error: File not found at {may_2022_file_path}")
    # Handle the error, e.g., skip the file, raise an exception, or provide a default value


# Check if the file exists before attempting to read it
p_l_march_2021_file_path = "/content/P  L March 2021.csv"  # Replace with the correct path if needed
if os.path.exists(p_l_march_2021_file_path):
    p_l_march_2021_data = pd.read_csv(p_l_march_2021_file_path)
else:
    print(f"Error: File not found at {p_l_march_2021_file_path}")
    # Handle the error, e.g., skip the file, raise an exception, or provide a default value

# Concatenate the DataFrames
bhai_data = pd.concat([cloud_warehouse_data, europe_sales_data, expense_iigf_data], axis=0, ignore_index=True)

# Now you can perform operations on the combined data
bhai_data.describe()
bhai_data.head()

,index,Shiprocket,Unnamed: 1,INCREFF,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,...,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Recived Amount,Expance,Unnamed: 3
0,0.0,Heads,Price (Per Unit),Price (Per Unit),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Inbound (Fresh Stock and RTO),₹4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Outbound,₹7.00,11,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Storage Fee/Cft,₹25.00,Rs 0.15/- Per Day,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,Customer Return with Detailed QC,₹6.00,15.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
bhai_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1397 entries, 0 to 1396
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           67 non-null     float64
 1   Shiprocket      21 non-null     object
 2   Unnamed: 1      47 non-null     object
 3   INCREFF         28 non-null     object
 4   Region          1330 non-null   object
 5   Country         1330 non-null   object
 6   Item Type       1330 non-null   object
 7   Sales Channel   1330 non-null   object
 8   Order Priority  1330 non-null   object
 9   Order Date      1330 non-null   object
 10  Order ID        1330 non-null   float64
 11  Ship Date       1330 non-null   object
 12  Units Sold      1330 non-null   float64
 13  Unit Price      1330 non-null   float64
 14  Unit Cost       1330 non-null   float64
 15  Total Revenue   1330 non-null   float64
 16  Total Cost      1330 non-null   float64
 17  Total Profit    1330 non-null   float64
 18  Recived Amount  6 non-null      object
 19  Expance         15 non-null     object
 20  Unnamed: 3      17 non-null     object
dtypes: float64(8), object(13)
memory usage: 229.3+ KB

In [75]:
bhai_data.shape

(1397, 21)

In [76]:
bhai_data.columns

Index(['index', 'Shiprocket', 'Unnamed: 1', 'INCREFF', 'Region', 'Country',
       'Item Type', 'Sales Channel', 'Order Priority', 'Order Date',
       'Order ID', 'Ship Date', 'Units Sold', 'Unit Price', 'Unit Cost',
       'Total Revenue', 'Total Cost', 'Total Profit', 'Recived Amount',
       'Expance', 'Unnamed: 3'],
      dtype='object')

# **  Data Cleaning performing the addition of data and filling the missing values by applying the data techniques**

In [77]:
bhai_data.isnull().sum()

index             1330
Shiprocket        1376
Unnamed: 1        1350
INCREFF           1369
Region              67
Country             67
Item Type           67
Sales Channel       67
Order Priority      67
Order Date          67
Order ID            67
Ship Date           67
Units Sold          67
Unit Price          67
Unit Cost           67
Total Revenue       67
Total Cost          67
Total Profit        67
Recived Amount    1391
Expance           1382
Unnamed: 3        1380
dtype: int64

In [78]:
bhai_data.duplicated().sum()

0

In [79]:
bhai_data.drop_duplicates(inplace=True)

In [80]:
bhai_data.fillna(0, inplace=True)

In [81]:
bhai_data.dropna(inplace=True)

In [82]:
bhai_data.isnull().sum()

index             0
Shiprocket        0
Unnamed: 1        0
INCREFF           0
Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
Recived Amount    0
Expance           0
Unnamed: 3        0
dtype: int64

In [83]:
bhai_data.describe()
bhai_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1397 entries, 0 to 1396
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           1397 non-null   float64
 1   Shiprocket      1397 non-null   object
 2   Unnamed: 1      1397 non-null   object
 3   INCREFF         1397 non-null   object
 4   Region          1397 non-null   object
 5   Country         1397 non-null   object
 6   Item Type       1397 non-null   object
 7   Sales Channel   1397 non-null   object
 8   Order Priority  1397 non-null   object
 9   Order Date      1397 non-null   object
 10  Order ID        1397 non-null   float64
 11  Ship Date       1397 non-null   object
 12  Units Sold      1397 non-null   float64
 13  Unit Price      1397 non-null   float64
 14  Unit Cost       1397 non-null   float64
 15  Total Revenue   1397 non-null   float64
 16  Total Cost      1397 non-null   float64
 17  Total Profit    1397 non-null   float64
 18  Recived Amount  1397 non-null   object
 19  Expance         1397 non-null   object
 20  Unnamed: 3      1397 non-null   object
dtypes: float64(8), object(13)
memory usage: 229.3+ KB

In [84]:
bhai_data.shape

(1397, 21)

In [85]:
bhai_data['Index'] = bhai_data['index'].fillna(0)

In [86]:
print(bhai_data.isnull().sum())

index             0
Shiprocket        0
Unnamed: 1        0
INCREFF           0
Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
Recived Amount    0
Expance           0
Unnamed: 3        0
Index             0
dtype: int64

# Now we have to check the the data of above csv that we are done the right operation for cleaning and filling the missing values in the data

In [87]:
nan_counts = bhai_data.isna().sum()
print("Count of NaN values in each column:")
print(nan_counts)

Count of NaN values in each column:
index             0
Shiprocket        0
Unnamed: 1        0
INCREFF           0
Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
Recived Amount    0
Expance           0
Unnamed: 3        0
Index             0
dtype: int64